#loading{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.8);
    z-index: 999;

}

  //  loading 3 balls

  .three-balls-bounce {
    position: relative;
    width: 200px;
    height: 62px;
  }

  .three-balls-bounce .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: cornflowerblue;
    left: 15%;
    transform-origin: 50%;
    animation: balls-circle 0.5s alternate ease infinite;
  }

  .three-balls-bounce .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    transform-origin: 50%;
    top: 62px;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: balls-shadow 0.5s alternate ease infinite;

  }

  .three-balls-bounce .circle:nth-child(2),
  .three-balls-bounce .shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .three-balls-bounce .circle:nth-child(3),
  .three-balls-bounce .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  @keyframes balls-circle {
    from {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scale(1);
    }
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scale(1);
    }
    to {
      top: 0%;
    }
  }

  @keyframes balls-shadow {
    from {
      transform: scale(1.5);
    }
    40% {
      transform: scale(1);
      opacity: 0.7;
    }
    to {
      transform: scale(0.2);
      opacity: 0.4;
    }
  }


