<div [id]="layoutId" class="layout-container">
  <div class="layout-header" *ngIf="config.header">
      <app-widget-engine [class]="config.header.class || ''" [widgets]="config.header.children"></app-widget-engine>
  </div>
  <div class="layout-body" *ngIf="config.body">
    <app-widget-engine [class]="config.body.class || ''" [widgets]="config.body.children"></app-widget-engine>
  </div>
  <div class="layout-footer" *ngIf="config.footer">
    <app-widget-engine [class]="config.footer.class || ''" [widgets]="config.footer.children"></app-widget-engine>
</div>
</div>
