#dashboard{
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // background: #5c9ad5;
    #header,
    #container{
        display: block;
        width: 100%;
    }
    #description {
        padding-bottom: 20px;
        margin: 20px;
    }

    #header{
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: #0143e2;
        opacity: 0.8;
        #headerText {
            font-size: xx-large;
            font-family: myFont;
            cursor: pointer;
            color: #FFFF;
        }
        button{
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            font-size: 18px;
            color: #FFFF;
            // border-color: #FFFF;
            background: transparent;
            border: none;
        }
        button:hover {
            color: #000102;
            cursor: pointer;
        }
    }
    #description {
        color: #0143e2;
        opacity: 0.6;
    }
    #container{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        #upload,
        #progess{
            // display: flex;
            margin: 0 20px;
            box-shadow: 1px 1px 1px 1px #4A4A4A;
            border-radius: 10px;
            width: 50%;
            height: 100%;
            // background: #5c9ad5;
            #progressWindow{
                margin: 20px;
                // padding-bottom: 10%;
                // border: dashed;
                height: auto;
                #progressBar{
                    margin: 20px;
                }
                #progressText {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 10px;
                    label b {
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                    }
                }
                #progressImg  {
                    display: flex;
                    justify-content: center;
                    img{
                        max-width: 50%;
                    }
                }
            }
            #export{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin: 20px;
                button {
                    padding: 2% 40%;
                    border-radius: 10px;
                    background: #0143e2;
                    color: #FFFF;
                    border-color: #FFFF;
                    // box-shadow: 0px 0px 2px 2px rgb(0,0,0);
                }
            }
        }
        #upload{
            box-shadow: 1px 1px 1px 1px #4A4A4A;
            border-radius: 10px;
            height: 100%;
            #uploadBox{
                height: 100%;
                margin: 20px;
                .file{
                    position: relative;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    background-color: #6af59a;
                    border: 2.4px black dashed;
                    padding: 2px;
                    overflow: hidden;
                    color: #3bdbf7;
                    line-height: 20px;
                    text-decoration: none;
                    height: 60%;
                    a{
                        text-decoration: none;
                        
                        input{
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            z-index: 11;
                        }
                    }
                    a:hover{
                        background:#AADFFD;
                        border-color:#78c3f3;
                        color: #004974;
                        text-decoration: none;
                    }
                    a:link{
                        background-color: #D0EEFF;
                    }
    
                }
                .selectFileBox{
                    position: relative;
                    top: 50%;
                    transform: translate(0,-50%);
                    width: 100%;
                    font-size: large;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
            }
            // form{
            //     height: 95%;
            //     margin: 5px;
            //     border: 2px solid #78c3f3;
            // }
        }
        ::ng-deep .mat-progress-bar {
            height: 15px;
            border-radius: 10px;
        }
    }
}

.boarder-bottom{
    // border: 1px solid black;
    // border-radius: 10px;
}

