<div id="dashboard">
    <div id="header" class="boarder-bottom">
        <div id="headerText">UI MASTER</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button>About us</button>
    </div>
    <div id="description">
        We will use AI algorithms to help you solve all your troubles. <br>All you need to do is import the design into our Intelligent UI Master, and a fresh schema template will be generated for you immediately.
    </div>
    <div id="container">
        <div id="upload">
            upload
            <button (click)="convert()">start convert</button>
        </div>
        <div id="progess">
            <div id="progressWindow" >
                <div id="progressImg">
                    <img src="assets/images/数据产出.svg">
                </div>
                <div id="progressText"><label><b>Customersize a designed template</b><br>Choose from thousands of design from you</label></div>
                <div id="progressBar" >
                    <mat-progress-bar *ngIf="displayProgressBar" mode="determinate" [value]="value"></mat-progress-bar>
                </div>
            </div>
            <div id="export">
                <button *ngIf="displayExportButton">export code</button>
            </div>
        </div>
    </div>
</div>
