/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face{
    font-family: 'myFont'; 
    src: url('assets/font/Monoton-Regular.ttf'); 
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.as-plr-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.as-pt-24 {
    padding-top: 24px;
}

.as-pb-24 {
    padding-bottom: 24px;
}

.as-ptb-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}